.container {
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  margin-top: 36px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  align-items: center;
  justify-items: center;
}

.load-more-btn {
  width: 120px;
  padding: 8px 18px;
  margin: 32px auto;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  border: 1px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.status-wrapper {
  margin-top: 48px;
}

// .load-wrapper {
//   margin: 32px auto;
// }

// .no-data-img {
//   margin: 0 auto;
//   object-fit: cover;
// }