.container {

}

.title {
  text-align: center;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  margin-top: 16px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  align-items: center;
  justify-items: center;
}