$item-height: 300px;

.container {
  padding: 16px;
  height: $item-height;
  width: 100%;
  max-width: 280px;
  border-radius: 8px;
  // border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover {
    box-shadow: rgb(220 214 209) 0px 0px 2px 2px; 
  }
}

.loading-wrapper {
  height: $item-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  margin-bottom: 16px;
  max-width: 224px;
  max-height: 224px;

  object-fit: contain;
  border-radius: 8px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(51, 51, 51);

  .name {
    color: rgb(128, 128, 128);
  }

  .weight {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
}